

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #61dafb; /* Change the color on hover to your preferred color */
  }
  
  .nav-link-active {
    color: #61dafb; /* Set the color for the active link */
  }
  